<section class="bread-crumb">
    <div class="containerss">
        <div class="row">
            <div class="col-12">
                <ul class="breadcrumb">
                    <li class="home">
                        <a href="">
                            <span>Trang chủ</span>
                        </a>
                        <span><i class="fas fa-chevron-right"></i></span>
                    </li>
                    <li class="home">
                        <a href="">
                            <span>SẢN PHẨM MỚI 2021</span>
                        </a>
                        <span><i class="fas fa-chevron-right"></i></span>
                    </li>
                    <li><strong><span>Dao Tiện EZ Bar Series</span></strong></li>
                </ul>
            </div>
        </div>
    </div>
</section>
<section class="product">
    <div class="containerss">
        <div class="row">
            <div class="col-12 details-products">
                <div class="col-5">
                    <div class="large-image">
                        <img src="https://bizweb.dktcdn.net/thumb/1024x1024/100/177/708/products/bandicam-2021-10-13-16-21-06-849.jpg?v=1634116887447" alt="">
                    </div>
                </div>
                <div class="col-7">
                    <h1 class="title-head">Dao Tiện EZ Bar Series</h1>
                    <div class="price-box price-loop-style">
                        <span class="special-price">Liên hệ</span>
                    </div>
                    <div class="product-summary">

                        <em>Mô tả ngắn của sản phẩm đang được cập nhật ...</em>

                    </div>
                    <div class="form-product">
                        <div class="social-sharing">
                            <div class="social-media">
                                <label for="">Chia sẻ:</label>
                            </div>
                            <div class="social-icon">
                                <a href=""><i class="fab fa-facebook-square"></i></a>
                                <a href=""><i class="fab fa-twitter"></i></a>
                                <a href=""><i class="fab fa-pinterest"></i></a>
                                <a href=""><i class="fab fa-google-plus-g"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="product">
    <div class="containerss">
        <div class="row">
            <div class="col-12">
                <div class="product-tab">
                    <ul class="tabs-title">
                        <li class="tabs-title-first">
                            <h3><span>MÔ TẢ</span></h3>
                        </li>
                        <li>
                            <h3><span>TAB TÙY CHỈNH</span></h3>
                        </li>
                        <li>
                            <h3><span>ĐÁNH GIÁ(APP)</span></h3>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="tab-content">
            <div class="rte">
                <p>
                    <img src="https://bizweb.dktcdn.net/100/177/708/files/bandicam-2021-10-13-16-06-34-653.jpg?v=1634116510631" alt="">
                </p>
                <p>
                    <img src="https://bizweb.dktcdn.net/100/177/708/files/bandicam-2021-10-13-16-06-55-006-67324f1a-8042-4ed5-bb5b-b5378f3640c2.jpg?v=1634116731615" alt="">
                </p>
                <p>
                    <img src="https://bizweb.dktcdn.net/100/177/708/files/bandicam-2021-10-13-16-07-04-864.jpg?v=1634116547728" alt="">
                </p>
                <p>
                    <img src="https://bizweb.dktcdn.net/100/177/708/files/bandicam-2021-10-13-16-07-11-116.jpg?v=1634116548522" alt="">
                </p>
                <p>
                    <img src="https://bizweb.dktcdn.net/100/177/708/files/bandicam-2021-10-13-16-07-11-116.jpg?v=1634116548522" alt="">
                </p>
                <p>
                    <img src="https://bizweb.dktcdn.net/100/177/708/files/bandicam-2021-10-13-16-07-31-590.jpg?v=1634116549360" alt="">
                </p>
                <p>
                    <img src="https://bizweb.dktcdn.net/100/177/708/files/bandicam-2021-10-13-16-07-39-130.jpg?v=1634116550700" alt="">
                </p>
                <p>
                    <img src="https://bizweb.dktcdn.net/100/177/708/files/bandicam-2021-10-13-16-08-11-809.jpg?v=1634116580103" alt="">
                </p>
            </div>
        </div>
    </div>
</section>